<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/build.css" />

    <title><%= title %></title>
  </head>
  <body>
    <div>
      <h1 class="text-cyan-600"><%= title %></h1>

      <div>
        <% if (locals.messages && locals.messages.length > 0) { %>
        <ul>
          <% for (const msg of messages) { %>
          <li><%= msg.text %></li>
          <% } %>
        </ul>
        <% } else { %> No messages. <% } %>
      </div>

      <a href="/new">Create a new message</a>
    </div>
  </body>
</html>
